<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fh.shop.mapper.log.ILogMapper" >
    <sql id="query_log">
        <where>
            <if test="userName != null and userName !=''">
                username like concat('%',#{userName},'%')
            </if>
            <if test="status != null">
                and  status = #{status}
            </if>
            <if test="info != null">
                and  info like concat('%',#{info},'%')
            </if>
            <if test="startDate != null">
                and  createDate &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and  createDate &lt;= #{endDate}
            </if>
        </where>
    </sql>

    <insert id="addLog" parameterType="com.fh.shop.po.log.LogInfo">
        insert into t_log (username,content,status,createDate,detailDesc,info)
         values(#{userName},#{content},#{status},#{createDate},#{detailDesc},#{info})
    </insert>
    
    <select id="queryCount" parameterType="com.fh.shop.param.log.LogSearchParam" resultType="long">
        select count(*) from t_log
        <include refid="query_log"></include>
    </select>

    <select id="queryLog" resultType="com.fh.shop.po.log.LogInfo" parameterType="com.fh.shop.param.log.LogSearchParam">
       select t.* from (
           select id,username,content,status,createDate,detailDesc,info from  t_log
           <include refid="query_log"></include>
            order by createDate desc
        ) t
        limit #{start},#{length}
    </select>

</mapper>